.App {
  padding: 0px;
}

.AppHeader {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #46a5af;
  margin-top: 20px;
}

HeaderImg {
  height: 60px;
  width: 250px;
}
