.NavigationBar {
  background: #46a5af;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
}

.NavigationActive {
  opacity: 0.3;
}
